@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900&display=swap');

body {
    font-family: 'Gothic A1', 'Helvetica', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 368%;
    font-weight: 900;
    line-height: 0.94;
}

h2 {
    font-weight: 700;
}

p {
    /* letter-spacing: 0.06em; */
}
